.hero-layout{
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url('your-image.jpg');
    display: grid;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
    min-width: 100vw;
    max-width: 1200px;
    padding: 7rem 0rem 0 0rem;
    min-height: 100vh;
}
.hero-layout .intro{
    font-size: 1.9rem;
    margin: 0 auto;
}
.hero-layout .intro .self{
    padding: 0.2rem 0.5rem;
    width: 230px;
    font-size: 1.5rem;
    box-shadow: 1px 1px 10px  rgb(99, 98, 98);
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero-layout .banner{
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); */
    /* width: 280px;
    height: 270px; */
    margin:  0 auto;
}
.hero-layout .banner-hero img{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.hero-layout .intro .social-media-icons{
    display: flex;
    font-size: 2.5rem;
    margin: 1.5rem 0;
    gap: 0.5rem;
} 
/* @media (min-width:710px) {
    .hero-layout{
        flex-direction: row;
        overflow: hidden;
        padding-bottom: -40px;
        padding-top: 9rem;
        gap: 0.5rem;
    }
    .hero-layout .intro .social-media-icons{
        flex-direction: column;
    }
    .banner-hero .banner-hero{
        width: 50%;
    }
    .hero-layout .banner{
        width: 90%;
        margin-right: 2rem;
        height: 320px;
    }
    .hero-layout .intro{
        width: 50%;
    }
    
    
} */
@media (min-width:700px) {
    .hero-layout{
        grid-template-columns: repeat(2, 1fr);
        padding:0 ;
    }
    .hero-layout .intro{
        font-size: 2rem;
        padding-left: 0.33rem;
    }
    .hero-layout .banner{
        width:300px;
        height: 300px;
    }
    .hero-layout .intro .social-media-icons{
        flex-direction: column;
    }
}

@media (min-width:850px) {
    
    .hero-layout .intro{
        font-size: 2.2rem;
    }
    .hero-layout .banner{
        width:350px;
        height: 350px;
    }
}
@media (min-width:1000px) {
    .hero-layout .banner{
        margin-top: 2rem;
        width:400px;
        height: 400px;
    }
}


